/*----------omoss- header -----------------*/
.op-header {
    min-height: 50vh;
    width: 100%;
    background-image: url(../images/bannertest.jpg);
    background-position:top;
    background-size: cover;
    text-align: center;
    color: #000000;
    margin-bottom: 80px;

}

.op-header h1 {
    margin: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 2.5em; /* Gjør skriften mer fleksibel */
}

.op-header img {
    width: 272px;
}

/*----------omoss- innhold -----------------*/
.omoss {
    width: 80%;
    margin: 0 auto; /* Sentrerer containeren horisontalt */
    display: flex; /* Gjør det mulig å bruke flexbox */
    justify-content: center; /* Sentrerer innholdet horisontalt */
    flex-direction: column; /* Arrangerer elementene vertikalt */
    align-items: center; /* Sentrerer elementene horisontalt i kolonnen */
}

.omoss h1{
    text-align: center;
}

.omoss p{
    text-align: center;
}

.row {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.5rem;
}

.row-2 {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pictures {
    box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
    outline: 1px solid rgba(202, 202, 202, 0.329);
    background-color: #8AF2C4;
    margin-bottom: 30px;
    /*Test av flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    max-width: 300px; /* Maks bredde på containeren */

    
}

.pictures a{
    text-decoration: none;
}


.pictures img {
    outline: 2px solid rgba(202, 202, 202, 0.329);
    width: 100%;
    max-width: 300px;
    padding-bottom: 0px;
    display: block;
    box-sizing: border-box;
}

.pictures .img-info {
    text-align:center ;
    background-color: #8AF2C4;
    color: #000000;
    max-width: fit-content;
}

.pictures .img-info h4{
    padding-top: 5px;
}

.pictures .img-info p{
    color: #000000;
}

@media(max-width: 760px) {
    .row {
        margin-top: 0px;
        flex-direction: column;
        max-width: fit-content;
     }
     .row-2 {
        margin-top: 0px;
        justify-content: space-between;
     }
    
    .pictures {
        max-width: 90%;
       margin: 0 auto 20px auto;
    }
}
