/*----------omoss- header -----------------*/
.op-header {
    height: 50vh;
    width: 100%;
    background-image: url(../images/bannertest.jpg);
    background-position: top;
    background-size: cover;
    text-align: center;
    color: #000000;
    margin-bottom: 80px;
}

.op-header h1 {
    margin-top: 100px;
}

.op-header img {
    width: 272px;
}

/*----------omoss- innhold -----------------*/
.omoss {
    width: 80%;
    margin: auto;
}

.omoss h1{
    text-align: center;
}

.omoss p{
    text-align: center;
}

.row {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row-2 {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pictures {
    box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
    outline: 1px solid rgba(202, 202, 202, 0.329);
    background-color: #E49777;
    margin-bottom: 30px;
    
}

.pictures a{
    text-decoration: none;
}


.pictures img {
    outline: 2px solid rgba(202, 202, 202, 0.329);
    width: 300px;
    padding-bottom: 0px;
}

.pictures .img-info {
    text-align:center ;
    background-color: #E49777;
    color: #000000;
    max-width: fit-content;
}

.pictures .img-info h4{
    padding-top: 5px;
}

.pictures .img-info p{
    color: #000000;
}

@media(max-width: 700px) {
    .row {
        margin-top: 0px;
        flex-direction: column;
        max-width: fit-content;
     }
     .row-2 {
        margin-top: 0px;
        justify-content: space-between;
     }
    
    .pictures {
       margin-top: 30px;
    }
}
